.well {
    p:last-child {
        margin-bottom: 0px;
    }
}

.jumbotron {
    margin-bottom: 20px;
    :last-child {
        margin-bottom: 0px;
    }
}

.modal-body .last {
    margin-bottom: 0px;
}
